<div class='navbar'>
  <div class='navbar-logo'>
    <a href='#'>
      <i class="fa fa-music fa-4x"></i>
    </a>
  </div>
  <div class='navbar-right'>
    <ul>
      <li><button class='blue-button'>News</button></li>
      <li><button class='blue-button'>About us</button></li>
      <li><button class='blue-button'>Contact</button></li>
      <div class='dropdown'>
        <div class='avatar avatar-small'>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRregy_xNvJ0YchvFzOnZC0FCjKCYfl89JBHdualXKiwsieJj5iuA">
        </div>
        <div class='dropdown-content'>
          <p><a href='#'>My profile</a></p>
          <p><a href='#'>Settings</a></p>
          <p><a href='#'>Log out</a></p>
        </div>
      </div>
    </ul>
  </div>
</div>

<div class="banner"></div>


<div class="tabs">

   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1" checked>
       <label for="tab-1">Profile</label>

       <div class="content">
           <div class='avatar avatar-large'>
             <img src='https://res.cloudinary.com/jpress/image/fetch/c_fill,f_auto,h_640,q_auto:eco,w_960/https://inews.co.uk/wp-content/uploads/2016/12/Mr-Bean-e1481577409256.jpg'>
           </div>
           <h2>Mr. Bean</h2>
           <p  class='biography'>
            Mr. Bean often seems unaware of basic aspects of the way the world works, and the programme usually
            features his attempts at what would normally be considered simple activities, such as going swimming,
            using a television set, interior decorating, or going to church. The humour largely comes from his original
            (and often absurd) solutions to problems and his total disregard for others when solving them, his pettiness,
            and occasional malevolence.</p>
       </div>
   </div>

   <div class="tab">
       <input type="radio" id="tab-2" name="tab-group-1">
       <label for="tab-2">Tab Two</label>

       <div class="content">
         <div class="card">
           <div class='card-avatar avatar avatar-small'>
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRregy_xNvJ0YchvFzOnZC0FCjKCYfl89JBHdualXKiwsieJj5iuA">
           </div>
           <div class='card-tag'>#drugs #music</div>
           <div class='card-description'>
             <h3>Live music</h3>
             <p>Get drunk and watch the best live concerts</p>
           </div>
         </div>
       </div>
   </div>

    <div class="tab">
       <input type="radio" id="tab-3" name="tab-group-1">
       <label for="tab-3">Tab Three</label>

       <div class="content">
           <p>favorite artist</p>
       </div>
   </div>

</div>
