<div class="tabs">
   <div class="tab">
       <input type="radio" id="tab-2" name="tab-group-1" checked>
       <label for="tab-2">Favorite cards</label>

       <div class="content cards-list">
         <div class="card">
           <div class='card-avatar avatar avatar-small'>
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRregy_xNvJ0YchvFzOnZC0FCjKCYfl89JBHdualXKiwsieJj5iuA">
           </div>
           <div class='card-tag'>#drugs #music</div>
           <div class='card-description'>
             <h3>Live music</h3>
             <p>Get drunk and watch the best live concerts</p>
           </div>
         </div>

         <div class="card">
           <div class='card-avatar avatar avatar-small'>
             <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Donald_Trump_official_portrait.jpg/220px-Donald_Trump_official_portrait.jpg">
           </div>
           <div class='card-tag'>#trump</div>
           <div class='card-description'>
             <h3>Trump fan club</h3>
             <p>Get the best tweets from the man himself</p>
           </div>
         </div>
         <div class="card">
           <div class='card-avatar avatar avatar-small'>
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTubZpk9f5Z5tK1zvPtsfWf-Tms_oJ8VOl-fjedQd_3m7sy10LY">
           </div>
           <div class='card-tag'>#stuff</div>
           <div class='card-description'>
             <h3>Good stuff</h3>
             <p>FeelsGoodMan</p>
           </div>
         </div>
         <div class="card">
           <div class='card-avatar avatar avatar-small'>
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRregy_xNvJ0YchvFzOnZC0FCjKCYfl89JBHdualXKiwsieJj5iuA">
           </div>
           <div class='card-tag'>#THP</div>
           <div class='card-description'>
             <h3>Nudes everyday</h3>
             <p>Get drunk and watch nudes</p>
           </div>
         </div>
       </div>
   </div>

   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1">
       <label for="tab-1">Profile</label>
       <div class="content">
           <div class='avatar avatar-large'>
             <img src='https://res.cloudinary.com/jpress/image/fetch/c_fill,f_auto,h_640,q_auto:eco,w_960/https://inews.co.uk/wp-content/uploads/2016/12/Mr-Bean-e1481577409256.jpg'>
           </div>
           <h2>Mr. Bean</h2>
           <p  class='biography'>
            Mr. Bean often seems unaware of basic aspects of the way the world works, and the programme usually
            features his attempts at what would normally be considered simple activities, such as going swimming,
            using a television set, interior decorating, or going to church. The humour largely comes from his original
            (and often absurd) solutions to problems and his total disregard for others when solving them, his pettiness,
            and occasional malevolence.</p>
       </div>
   </div>

    <div class="tab">
       <input type="radio" id="tab-3" name="tab-group-1">
       <label for="tab-3">???</label>

       <div class="content">
           <div class='random-colors signature'><p>Made by THP Grenoble</p></div>
           <div class='animated pulse infinite signature'><i class='fa fa-heart'></i></div>
       </div>
   </div>

</div>
