.blue-button {
  color: white;
  background-color: #8fadc8;
  border-color: #2e6da4;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 12px;
  border-color: #2e6da4;
  font-size: 16px;
}

.blue-button:hover {
  background-color: #286090;
}
