footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #205378;
  padding: 30px;
  opacity: 0.85;
  height: 100px;
  margin-top: 166px;
}

footer ul {
  display: flex;
  list-style: none;

  li {
    margin-right: 30px;
    font-size: 30px;
  }
}
