.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 300px;
}

.navbar:before, .navbar:after {
  content: none;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-right: 20px;
  li {
    padding: 10px;
  }
}

a:hover {
  text-decoration: none;
}

.fa-first-order {
  margin-left: 20px;
  margin-bottom: 5px;
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font-size: 30px;
  font-style: italic;
  margin-left: 25px;
  color:#205378;
}
