.tabs {
  position: relative;
  min-height: 300px; /* This part sucks */
  clear: both;
  margin: 35px 0 25px;
  background: white;
}
.tab {
  float: left;
    margin-bottom: 40px;
}
.tab label {
  height: 50px;
  width: 200px;
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  text-align: center;
  position: relative;
  left: 1px;
  top: -35px;
  -webkit-transition: background-color .17s linear;
}
.tab [type=radio] {
  display: none;
}
.content {
  position: absolute;
  top: -1px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  padding-top: 30px;
  border: 1px solid #ccc;
  -webkit-transition: opacity .6s linear;
  opacity: 1;
}
[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
  opacity: 1;
}
