<div class='navbar'>
  <div class='navbar-logo'>
    <a href='#'><i class="fa fa-first-order fa-4x"></i></a>
    <a href='#'><div class='title'> BodomBeach </div></a>
  </div>
  <div class='navbar-right'>
    <ul>
      <li><button class='blue-button'>News</button></li>
      <li><button class='blue-button'>About us</button></li>
      <li><button class='blue-button'>Contact</button></li>
      <div class='dropdown'>
        <div class='avatar avatar-small'>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRregy_xNvJ0YchvFzOnZC0FCjKCYfl89JBHdualXKiwsieJj5iuA">
        </div>
        <div class='dropdown-content'>
          <p><a href='#'>My profile</a></p>
          <p><a href='#'>Settings</a></p>
          <p><a href='#'>Log out</a></p>
        </div>
      </div>
    </ul>
  </div>
</div>
